*.Rproj
*.Rhistory
*.Rproj.user
*.RData
*.Rds
Exercises/E04-microarrays/html_reports
Exercises/E07-RNA_seq/data
Exercises/E07-RNA_seq/02_quantification/_old
Exercises/E07-RNA_seq/02_quantification/*_out
Exercises/E07-RNA_seq/02_quantification/multiqc_quantification
Exercises/E07-RNA_seq/02_quantification/sortmerna*
Exercises/E07-RNA_seq/05_gene_set_analysis/*.png
Exercises/E07-RNA_seq/05_gene_set_analysis/kegg_data/
Exercises/age_library.R
Exercises/age_library_empty.sh
Exercises/renv/
.Rproj.user
tmp/
fastqc/
multiqc/
logs/
